<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../../img/icon.png" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/personalOrder.css">
    <script src="../../js/vue.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="orderContainer">
            <form class="form-horizontal" role="form">
                    <div class="itemContainer col-md-12">
        
                            <!-- 重绘订单item -->
                            <div class="orderItem">
                                <div class="orderHead col-md-12">
                                    <span>订单时间:2019-4-21 19:20:21  </span> <span>流水号885869438</span>
                                </div>
                                <div class="orderBody">
                                    <div class="col-sm-6 itemDetail">
                                        <div class="col-sm-4">
                                            <img src="../../img/slider2.jpg" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-8 itemDescription">
                                            <label for="">本田思域 极致平民超跑 给你不一样的非凡体验 0~100 只需15秒，快到极致！</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for=""><span class="glyphicon glyphicon-user"></span> 18216215139</label></div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for="">￥： <span>10000</span>元</label></div>
                                    <div class="col-sm-2 btn-group itemDetail">
                                            <!-- <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-zoom-in"></span> 
                                                  </button> -->
                                            <button type="button" class="btn btn-default btn-md">
                                                    <span class="glyphicon glyphicon-trash"></span> 
                                                  </button>
                                    </div>
                                </div>
                            </div>
                            <div class="orderItem">
                                <div class="orderHead col-md-12">
                                    <span>订单时间:2019-4-21 19:20:21  </span> <span>流水号885869438</span>
                                </div>
                                <div class="orderBody">
                                    <div class="col-sm-6 itemDetail">
                                        <div class="col-sm-4">
                                            <img src="../../img/slider2.jpg" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-8 itemDescription">
                                            <label for="">本田思域 极致平民超跑 给你不一样的非凡体验 0~100 只需15秒，快到极致！</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for=""><span class="glyphicon glyphicon-user"></span> 18216215139</label></div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for="">￥： <span>10000</span>元</label></div>
                                    <div class="col-sm-2 btn-group itemDetail">
                                            <!-- <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-zoom-in"></span> 
                                                  </button> -->
                                            <button type="button" class="btn btn-default btn-md">
                                                    <span class="glyphicon glyphicon-trash"></span> 
                                                  </button>
                                    </div>
                                </div>
                            </div>
                            <div class="orderItem">
                                <div class="orderHead col-md-12">
                                    <span>订单时间:2019-4-21 19:20:21  </span> <span>流水号885869438</span>
                                </div>
                                <div class="orderBody">
                                    <div class="col-sm-6 itemDetail">
                                        <div class="col-sm-4">
                                            <img src="../../img/slider2.jpg" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-8 itemDescription">
                                            <label for="">本田思域 极致平民超跑 给你不一样的非凡体验 0~100 只需15秒，快到极致！</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for=""><span class="glyphicon glyphicon-user"></span> 18216215139</label></div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for="">￥： <span>10000</span>元</label></div>
                                    <div class="col-sm-2 btn-group itemDetail">
                                            <!-- <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-zoom-in"></span> 
                                                  </button> -->
                                            <button type="button" class="btn btn-default btn-md">
                                                    <span class="glyphicon glyphicon-trash"></span> 
                                                  </button>
                                    </div>
                                </div>
                            </div>
                            <div class="orderItem">
                                <div class="orderHead col-md-12">
                                    <span>订单时间:2019-4-21 19:20:21  </span> <span>流水号885869438</span>
                                </div>
                                <div class="orderBody">
                                    <div class="col-sm-6 itemDetail">
                                        <div class="col-sm-4">
                                            <img src="../../img/slider2.jpg" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-8 itemDescription">
                                            <label for="">本田思域 极致平民超跑 给你不一样的非凡体验 0~100 只需15秒，快到极致！</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for=""><span class="glyphicon glyphicon-user"></span> 18216215139</label></div>
                                    <div class="col-sm-2 itemDetail"><label class="itemLabel" for="">￥： <span>10000</span>元</label></div>
                                    <div class="col-sm-2 btn-group itemDetail">
                                            <!-- <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-zoom-in"></span> 
                                                  </button> -->
                                            <button type="button" class="btn btn-default btn-md">
                                                    <span class="glyphicon glyphicon-trash"></span> 
                                                  </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 编辑按钮 -->
                    <div class="col-md-12">
                        <!-- <div class="pageController">
                                <nav aria-label="...">
                                    <ul class="pager">
                                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                                        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                    </ul>
                                </nav>
                        </div> -->

                        <div class="paginationContainer pull-right">
                            <ul class="pagination pagination-sm">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                            
                    </div>
                </form>
    </div>
</body>
</html>