<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../../img/icon.png" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/personalOrder.css">
    <script src="../../js/vue.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="orderContainer">
            <form class="form-horizontal" role="form">
                    <div class="itemContainer">
                            <div class="userdata col-md-12"> <br>
                                <div class="well col-md-12">
                                    <div class="orderHead">
                                        <label for="">订单流水号：xxxx</label>  
                                    </div>
                                    <div class="orderBody">
                                        <!-- 车辆详情 img 品牌 xxx    -->
                                        <div class="col-sm-2">
                                            <img src="../../img/VOLVO.jpg" alt="43967">
                                        </div>
                                        <div class="col-sm-10">
                                            <p>这是对于订单的描述 abcdefghijklmnopqrstvuwxyzabcdefghijklmnopqrstvuwxyz<br/>
                                                abcdefghijklmnopqrstvuwxyz<br/>
                                                <b>这是加粗部分</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="orderFoot pull-right">
                                        price:xxx
                                    </div>
                                </div>
                            </div>
                            <div class="userdata col-md-12"> 
                                <div class="well">
                                    <div class="orderHead">
                                        <label for="">订单流水号：xxxx</label>  
                                    </div>
                                    <div class="orderBody">
                                        <!-- 车辆详情 img 品牌 xxx    -->
                                        <div class="col-sm-2">
                                            <img src="../../img/VOLVO.jpg" alt="43967">
                                        </div>
                                        <div class="col-sm-10">
                                            <p>这是对于订单的描述 abcdefghijklmnopqrstvuwxyzabcdefghijklmnopqrstvuwxyz<br/>
                                                abcdefghijklmnopqrstvuwxyz<br/>
                                                <b>这是加粗部分</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="orderFoot pull-right">
                                        price:xxx
                                    </div>
                                </div>
                            </div>
                            <div class="userdata col-md-12"> 
                                <div class="well">
                                    <div class="orderHead">
                                        <label for="">订单流水号：xxxx</label>  
                                    </div>
                                    <div class="orderBody">
                                        <!-- 车辆详情 img 品牌 xxx    -->
                                        <div class="col-sm-2">
                                            <img src="../../img/VOLVO.jpg" alt="43967">
                                        </div>
                                        <div class="col-sm-10">
                                            <p>这是对于订单的描述 abcdefghijklmnopqrstvuwxyzabcdefghijklmnopqrstvuwxyz<br/>
                                                abcdefghijklmnopqrstvuwxyz<br/>
                                                <b>这是加粗部分</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="orderFoot pull-right">
                                        price:xxx
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 编辑按钮 -->
                    <div>
                        <div class="pageController">
                                <nav aria-label="...">
                                    <ul class="pager">
                                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                                        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                    </ul>
                                </nav>
                        </div>
                            
                    </div>
                </form>
    </div>
</body>
</html>