
div{
    /* border:1px dashed red; */
    /* border-radius: 10px 10px 10px 10px; */
}
.imgContainerS{
    width: 100%;
    border: 1px solid #DDDDDD;
    background-color: #F8F8F8;
    height: 490px;
    padding: 7px;
}
.img-big img{
    width: 100%;
    height: 350px;
}
.img-small img{
    width: 24%;
    margin-top: 4px;
    margin-left: 2px;
    height: 120px;
}
.payment{
    background-color: #F8F8F8;
    text-align: left;
    margin-top: 40px;
    padding: 15px 5px;
    height: 145px;
}
.carPrice{
    padding-top: 10px;
    height: 315px;
    border: 1px solid #DDDDDD;
}
.payment span{
    font-size: 24px;
}
.carPrice p {
    line-height: 22px;
    font-size: 20px;
}
.payment strong{
    font-size: 25px;
    color: #FF7414;
}
.carDetailMainContainer{
    /* margin-top: 20px; */
    /* background-image: url("../img/body-bg.png");
    background-repeat: repeat; */
}
.carDetailMainContainerS{
    background-color: rgba(248,248,248, 1);
}
.description{
    margin-top: 80px;
}
.likeBtn{
    position: relative;
    top: 20px;
}
.theBigTitle{
    text-align: center;
}

.baseInfoContainerS{
    height: 230px;
    width: 100%;
    background-color: #fafafa;
}
.baseInfoContainerFF{
    padding-left: 30px;
}
.paramConfiguration{
    margin-top: 100px;
    height: 200px;
}
.paramConfiguration table,.paramConfiguration th{
    text-align: center;
}
.DetailedPhotosS div{
    /* border: 1px solid #DDDDDD; */
    /* border-radius: 5px 5px 5px 5px; */
    margin: 10px 0;
}
.DetailedPhotosS div img{
    height: 300px;
    width: 100%;
} 
.userInfoContainer{
    /* background-color: antiquewhite; */
    /* height: 40px; */
    /* border: 1px solid #DCDCDC; */
}
.carInfoContainer{
    border: 1px solid #DCDCDC;
    height: 150px;
    padding-top:20px; 
}
.payInfoContainer{
    margin-top: 10px;
    padding-top: 10px;
    height: 230px;
    border: 1px solid #DCDCDC;
}
.price{
    font-size: 160%;
    font-style: italic;
    margin-right: 20px;
    color: #303634;
}
.Pricebox{
    /* height: 250px; */
}
.aliPayContainer{
    margin-top: 10px;
    padding-top: 10px;
    height: 50px;
    border: 1px solid #DCDCDC;
}
.alipayQRcodeS{
    text-align: center;
    padding-top: 30px;
}
.alipayQRcodeS img{
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}
.alipayQRcodeS label{
    line-height: 30px;
}
.cardetailTitle{
    height: 70px;
}
.cardetailTitle h1{
    color: #3F4359;
    font-family:Arial,Helvetica,sans-serif;
}
/* modal */
#orderModal{
    /* background-color: #303634; */
    background-image: url("../img/SSR1.jpg");
    background-repeat: repeat;
}
.modal-content{
    /* background-image: url("../img/maoboli2.jpg");
    background-repeat: no-repeat; */
    /* background-color: #EBE9EA; */
}