
div{
    /* border:1px dashed red; */
    /* border-radius: 10px 10px 10px 10px; */
}
.imgContainerS{
    width: 370px;
    border: 1px solid #DDDDDD;
    background-color: #F8F8F8;
    height: 390px;
    padding: 7px;
}
.img-big img{
    width: 100%;
    height: 300px;
}
.img-small img{
    width: 85px;
    height: 75px;
}
.payment{
    background-color: #F8F8F8;
    text-align: left;
    padding: 15px 5px;
    height: 50px;
}
.carPrice{
    padding-top: 100px;
    height: 315px;
}
.carDetailMainContainer{
    margin-top: 20px;
}
.description{
    margin-top: 80px;
}
.likeBtn{
    position: relative;
    top: 20px;
}
.baseInfoContainerS{
    height: 230px;
    width: 100%;
    background-color: #fafafa;
}
.baseInfoContainerS img{
    width: 100%;
    height: 100%;
}
.paramConfiguration{
    margin-top: 100px;
}
.paramConfiguration table,.paramConfiguration th{
    text-align: center;
}
.DetailedPhotosS div{
    /* border: 1px solid #DDDDDD; */
    /* border-radius: 5px 5px 5px 5px; */
    margin: 10px 0;
}
.DetailedPhotosS div img{
    height: 300px;
    width: 100%;
} 
.userInfoContainer{
    /* background-color: antiquewhite; */
    /* height: 40px; */
    /* border: 1px solid #DCDCDC; */
}
.carInfoContainer{
    border: 1px solid #DCDCDC;
    height: 150px;
    padding-top:20px; 
}
.payInfoContainer{
    margin-top: 10px;
    padding-top: 10px;
    height: 230px;
    border: 1px solid #DCDCDC;
}
.price{
    font-size: 160%;
    font-style: italic;
    margin-right: 20px;
    color: #303634;
}
.Pricebox{
    /* height: 250px; */
}
.aliPayContainer{
    margin-top: 10px;
    padding-top: 10px;
    height: 230px;
    border: 1px solid #DCDCDC;
}
.alipayQRcode{
    margin-top: 20px;
    height: 152px;
    width: 152px;
    position: relative;
    left: 37%;
    border: 1px solid #DCDCDC;
    border-radius: 10px 10px 10px 10px; 
}