div{
    /* border: 1px dashed red; */
}
.MerchantText{
    background-color: #00A1A7;
    height: 500px;
}
.MerchantImgRight{
    height: 500px;
    background-color: aquamarine
}
.MerchantText h1,.MerchantText h2,.MerchantText p,.MerchantText h3{
    color: white;
    text-align: center;
    font-weight: 700;
}
.MerchantImg{
    background-color: #353633;
}
.aboutUs{
    padding-top: 52px;
    height: 200px;
}
.aboutUs h1{
    color: #00A1A7;
    text-align: center;
    font-weight: 900;
}
.aboutUsBoxVertical{
    height: 350px;
    line-height:28px;
    /* border: 1px dashed red; */
    /* background-color: lightgray; */
}
.aboutUsBoxVertical h5{
    line-height:28px;
    color: #00A1A7;
}
.aboutUsBoxVertical h3{
    font-weight: 900;
}
.aboutUsBoxAcross{
    height: 450px;
    /* background-color: #000; */
}

