.searchbox{
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: #C5C7BC; */
}
body{
    /*background-image: url("../img/m.png");*/
    background-repeat: repeat;
}
.searchbox{
    background-color: white;
}