.orderItem{
    height: 200px;
    /* border: 1px dashed blue; */
}
.orderBody{
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    height: 135px;
}
.orderFoot{
    margin-top: 5px;
}
.itemDetailS{
    height: 100%;
    padding-top: 10px;  
    border: 1px solid #E9E9E9;
}
.itemDetail{
    padding-top: 10px;  
}
