.personalDataContainer{
    background-color: #F8F8F8;
    height: 600px;
    border: 1px solid #DDDDDD;
}

.userdata{
    position: relative;
    top: 20px;
}
#inputFile{
    display: none;
}
.eidtAndSub{
    position: relative;
    left: 18px;
}
.col-sm-4{
    margin: 5px 0 ;
}