.orderContainer{
    background-color: #F8F8F8;
    height: 600px;
    border: 1px solid #DDDDDD;
}
.userdata{
    
}
div{
    /* border: 1px dashed blue; */
}
li{
    list-style: none;
}
.well{  
    /* width: 800px;
    height: 160px; */
}
.pageController{
    width: 90%;
    margin: 0 auto;
}

.orderBody{
    height: 80px;
}
.orderBody{
    border:1px solid #DDDDDD;
    background-color: white;
}
.itemContainer{
    /* border: 1px dashed red; */
    /* padding-top: 15px; */
}
.orderItem{
    margin-top: 15px;
    border:1px solid #DDDDDD;
    border-radius: 5px;
    height: 120px;
}
.orderHead{
    height: 28px;
    background-color: #F5F5F5;
    border: 1px solid #E9E9E9;
}
.orderHead span{
    line-height: 28px;
    margin-right: 20px;
}
.orderBody {
    height: 91px;
}
.orderBody img{
    height: 81px;
    /* width: 81px; */
    margin-top: 3px;
    margin-left: -18px;
}
.paginationContainer{
    position: fixed;
    bottom:-10px;
    right: 16px;
}
.itemLabel{
    line-height: 81px;
}
.btn-group{
    padding-top: 3%;
    padding-left: 6%;
}
.itemDetail{
    border-right: 1px solid  #E9E9E9;
}
.itemDescription{
    margin-top: 5px;
}