.regist-info-container{
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 0  10px #DDD;
}
.regist-title{
    margin-bottom: 20px;
}
div{
    /* border:1px dashed red; */
}
.imginput{
    background-image: url(../img/registBGimg.jpg);
    height: 650px;
}
.switch{
    text-align: center;
}
.RALbox{
    margin: 30px 0;
    border: 1px solid #CCCCCC;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.RALbody{
    background-image: url(../img/registBGimg.jpg);
}
.subContainer{
    /* border: 1px dashed red; */
    text-align: center;
    height: 65px;
}