<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/carDetail.css">
    <link rel="stylesheet" href="../css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-switch.min.js"></script>
    <script src="../js/moment-with-locales.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js"></script>
    <title>carDetail</title>
</head>
<body>
        <div class="SRose-head">
            <div class="headTop">
                <!-- 37px高度 100%宽度 包含 图标+淘车网首页  欢迎来到淘车网 登录 我的淘车 （阉割部分功能） 联系电话 -->
                <div class="container-fluid">
                    <div class="row">
    
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
    
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="headp goleft">
                                    <button type="button" class="btn btn-link">
                                        <a href="homePageFirstPage.html" target="_self" class="a-css"><span class="glyphicon glyphicon-home"></span>淘车网首页</a>
                                    </button>
                                    </p>
                                </div>
    
                                <div class="col-md-6"></div>
    
                                <div class="col-md-2">
                                    <!-- <p class="headp goright">
                                    欢迎来到淘车网
                                    <a href="#" class="a-css">登录</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" >登录</button>
                                    </p> -->
                                </div>
                                
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-link">
                                    <p class="headp goright"><a href="#" class="a-css">我的淘车</a></p>
                                    </button>
                                </div>
    
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-link">
                                    <p class="headp goright">联系电话</p>
                                    </button>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-2"></div>
    
                    </div>
                </div>
            </div>
            
            <div class="headBody">
                    <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
                    <div class="row">
                      <div class="col-md-2"></div>
                      
                      <div class="col-md-8">
                          <div class="row">
                              <div class="col-md-3">
                                <div class="col-md-12">
                                    <h1 style="color: aliceblue; ">租车网</h1>
                                </div>
                              </div>
              
                              <div class="col-md-5"></div>
              
                              <div class="col-md-4">
                                <div class="leader">
                                    <nav class="navbar navbar-default" role="navigation">
                                      <div class="container-fluid">
                                      <div class="navbar-header">
                                        <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                                      </div>
                                      <div>
                                        <ul class="nav navbar-nav">
                                          <li class="active"><a href="homePageFirstPage.html">租车首页</a></li>
                                          <li ><a href="homePageCarInformation.html">最新资讯</a></li>
                                          <li><a href="homePageMerchant.html">商家中心</a></li>
                                          <li><a href="personalCenter.html">个人中心</a></li>
                                        </ul>
                                      </div>
                                      </div>
                                    </nav>
                                </div>
                              </div>
                            </div>
                      </div>
          
                      <div class="col-md-2"></div>
                    </div>
                  </div>
    
            <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
            <div class="row navigator">
                <div class="col-md-2 nearNavigator"></div>
                <div class="col-md-8">
                  
                </div>
                <div class="col-md-2 nearNavigator"></div>
            </div>
        </div>  
       <div class="carDetailMainContainer row">
           <div class="col-md-2" ></div>

           <div class="col-md-8 carDetailMainContainerS">
                 <!-- carDetail img  -->
                <div class="carDetailbody">
                    <div class="imgAndOptions row">
                        <div class="imgContainerF col-md-6">
                            <div class="imgContainerS">
                                    <div class="img-big">
                                        <img src="../img/slider2.jpg" alt="">
                                    </div>
                                    <div class="img-small">
                                        <img src="../img/pic1.jpg" alt="">
                                        <img src="../img/pic2.jpg" alt="">
                                        <img src="../img/pic17.jpg" alt="">
                                        <img src="../img/pic21.jpg" alt="">
                                    </div>
                            </div>
                        </div>
                        <div class="options col-md-6">
                                <div class="cardetailTitle col-md-12">
                                    <div class="col-sm-8">
                                        <h1>福特 -- focus </h1>
                                    </div>
                                       
                                    <div class="col-sm-4">
                                        <button type="button" class="likeBtn btn btn-default btn-sm pull-right">
                                            <span class="glyphicon glyphicon-heart" style="color: rgb(221, 199, 199);font-size: 18px;"></span> 
                                            <!-- <span class="glyphicon glyphicon-heart" style="color: rgb(255, 66, 29); font-size: 19px;"> 喜欢</span> -->
                                        </button>
                                    </div>    
                                </div>
                                <div class="carPrice col-md-12">
                                        <p>全新Ford 福克斯 WRC赛事专供，极致操作体验！全新Ford 福克斯 WRC赛事专供，极致操作体验！全新Ford 福克斯 WRC赛事专供，极致操作体验！全新Ford 福克斯 WRC赛事专供，极致操作体验！</p>
                                        <!-- <span>日租金:￥</span>
                                        <strong>200</strong>
                                        <span>元</span> -->
                                        <div class="payment col-md-12">
                                            <span>日租金:￥</span>
                                            <strong>200</strong>
                                            <span>元</span>
                                            <hr>
                                           <h4>包月可享受88折优惠哦</h4>
                                        </div>

                                </div>
                                <div class="carOperation container-fluid">
                                    <div class="btn col-md-12" role="button">
                                        <a  class="btn btn-default btn-lg btn-block col-md-12" role="button" data-toggle="modal" data-target="#phoneInfoModal">电话联系</a>
                                        <a  class="btn btn-default btn-lg btn-block col-md-12" role="button" data-toggle="modal" data-target="#orderModal">立即预约</a>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="description">
                       
                        <div class="paramConfiguration">
                            <table class="table">   
                                    <div class="col-md-12"><h2 class="theBigTitle">配置信息</h2></div>
                                <thead>
                                    <tr>
                                        <th>品牌</th>
                                        <th>型号</th>
                                        <th>排量</th>
                                        <th>油耗</th>
                                        <th>发动机</th>
                                        <th>类别</th>
                                        <th>驱动方式</th>
                                        <th>可乘人数</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="configInfo1">
                                        <td>testCode</td>
                                        <td>testCode</td>
                                        <td>testCode</td>
                                        <td>testCode</td>
                                        <td>testCode</td>
                                        <td>testCode</td>
                                        <td>testCode</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="DetailedPhotosF row">
                        <div class="DetailedPhotosS">
                            <div class="col-md-12"><h2 class="theBigTitle">车源图片</h2></div>
                            
                        </div>  
                    </div>

                    <div class="baseInfo">
                        <div class="col-md-12"><h2 class="theBigTitle">用户须知</h2></div>
                    
                        <div class="baseInfoContainerF" >
                            <img src="../img/userNeedKnow.png" width="100%" alt="">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="baseInfoContainerFF col-md-12">
                            <img src="../img/退改.jpg" alt="" width="49%" height="391px">
                            <img src="../img/费用不含.jpg" alt="" width="49%" height="100%">
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="baseInfoContainerF" >
                            <img src="../img/费用不含.jpg" alt="" width="100%" height="442px">
                        </div>
                    </div> -->
                </div> 
           </div>

           <div class="col-md-2"></div>
       </div>

       <div style="width:100%; height:15px; background-color: #232323;"></div>
    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-12 webGS" style="height:100px;background-color: #000000;">
        <h4 style="line-height: 50px;color:aliceblue;">本网站最终解释权归 liuxin 所有</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="phoneInfoModal" tabindex="-1" role="dialog" aria-labelledby="phoneInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2>租车网热线</h2>
          </div>

          <div class="modal-body">
            <!-- 左图右字 -->
            <div style="text-align:center; font-weight:bold;"><h4>欢迎致电租车网！</h4></div>
            <div class="phoneInfoContainer">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>管理员</td>
                    <th>联系电话</td>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td>马瑞思</td>
                    <td>18216215139</td>
                  </tr> -->
                  <tr>
                    <td>刘信</td>
                    <td>18229909690</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
              确认
            </button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2>立即租车</h2>
          </div>

          <div class="modal-body">
           <!-- 用户信息 -->
            <div class="userInfoContainer">
                <label for=""><h3>租车网</h3></label>

            </div>
           <!-- 汽车信息 -->
            <div class="carInfoContainer">
                <!-- carMainImg carDescription -->
                <div class="col-md-4 carInfoContainerS">
                    <img src="../img/a-1.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="col-md-8 ">
                    <p class="carInfoContainerSS">福特 focus 2.6T顶配版 4WD 1350KG 370匹马力 WRC拉力赛特供</p>
                    <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                    molestie sit amet metussit amet, malesuada gravida ex.</p>
                </div>
            </div>
           <!-- 支付及可选项 -->
            <div class="payInfoContainer">
                <!-- 金额 支付码 是否自取 -->
                <div>
                    <div class="form-group col-md-12">
                        <label for="">取车方式:</label><br>
                        <input type="checkbox" class="form-control" name="my-checkbox"  checked>
                    </div>
                    <div class="form-group col-md-12" id="SCSM" style="display:none;">
                        <label for="">送车上门地址:</label>
                        <input type="email" class="form-control" placeholder="请输入地址">
                    </div>
                    <div class="form-group col-md-12" id="ZQDZ" >
                        <label for="">自取地址</label>
                        <input type="email" class="form-control" placeholder="湖南省长沙市岳麓区湖南商学院露天停车场112号">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>选择起始日期：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepickerS'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>选择结束日期：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepickerE'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aliPayContainer">
                <div class="Pricebox col-md-12">
                    <span class="price">price:￥<span>10000</span>元</span>
                </div>
                <div class="alipayQRcode col-md-12">
                    <!-- <label class="col-md-12" for="payWay">请选择支付方式</label> -->

                    <!-- <div class="alipayQRcodeS col-md-12">
                        <span>目前支持的支付渠道：</span>
                        <img class="aliPay" src="../img/Alipay.jpg" alt="" width="80px" height="60px">
                        
                        <button type="button" class="btn btn-default">点击进入支付宝付款页面</button>
                        
                    </div> -->
                    <!-- <div class="alipayQRcodeS col-md-6">
                        <img class="weChatPay" src="../img/weChatPay.jpg" alt=""  width="150px" height="150px">
                    </div> -->
                   
                </div>
            </div>
            
          </div>

          <div class="modal-footer">
             <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
              取消
            </button>
            <button type="button" class="btn btn-primary aliPay" >支付</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <script src="../js/carDetail.js"></script>
</body>
</html>
