<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/merchant.css">
    <script src="../js/homePage.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/highcharts.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>second head rose-商家</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headTop">
          <!-- 37px高度 100%宽度 包含 图标+淘车网首页  欢迎来到淘车网 登录 我的淘车 （阉割部分功能） 联系电话 -->
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-2"></div>
              <div class="col-md-8">

                  <div class="row">
                      <div class="col-md-2">
                          <p class="headp goleft">
                            <button type="button" class="btn btn-link">
                                <a href="homePageFirstPage.html" target="_self" class="a-css"><span class="glyphicon glyphicon-home"></span>淘车网首页</a>
                            </button>
                          </p>
                      </div>

                      <div class="col-md-6"></div>

                      <div class="col-md-2">
                          <p class="headp goright">
                            <button type="button" class="btn btn-link">
                              <a href="loginOrRegist.html" class="a-css">登录/注册</a> 
                           </button>
                          </p>
                      </div>
                      <div class="col-md-1">
                          <button type="button" class="btn btn-link">
                          <p class="headp goright"><a href="personalCenter.html" target="_blank"class="a-css">我的淘车</a></p>
                          </button>
                      </div>
                    

                      <div class="col-md-1">
                          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#phoneInfoModal">
                          <p class="headp goright">联系电话</p>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="col-md-2"></div>

            </div>
          </div>
        </div>

        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                      <a href="#" class="a-css"><h1>淘车网 taoche.com</h1></a>
                    </div>
    
                    <div class="col-md-1"></div>
    
                    <div class="col-md-8 searchbar">
                        <!-- <div class="input-group">
                            <input type="text" class="form-control info-searchBar" placeholder="搜 帕加尼风之子 试试">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-searchBar" type="button">
                                搜索
                              </button>

                              <button type="button" class="btn btn-default">卖车</button>
                            </span>
                        </div>           -->
                    </div>
                  </div>
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>
    </div>

    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>
            <div class="col-md-8">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="homePageFirstPage.html" target="_self">首页</a></li>
                    <li role="presentation"><a href="homePageCarInformation.html" target="_self">资讯</a></li>
                    <li role="presentation" class="active"><a href="#" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                  </ul>
            </div>
            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>

      <div class="MerchantContainer row container-fluid">
        <!-- 左边文本框 淡蓝色 文字描述 右边跑车-->
        <div class="col-sm-12">
          <div class="MerchantText col-md-6">
            <br><br><br><br><br><br><br>
              <p>Blanditiis praesentium voluptatum </p>
              <h3>voluptatum deleniti atque</h3>
              <h1>Dragster</h1>
              <p>deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
              
          </div>
          <div class="MerchantImg col-md-6">
              <img src="../img/slider2.jpg" alt="" height="500px" width="100%">
          </div>
        </div>
        <!-- 关于我们 -->
        <div class="aboutUs col-sm-12">
          <h1>关于我们</h1>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="col-sm-6 aboutUsBoxVertical">
              <h3>The best one to the race</h3>
              <h5>Aenean pulvinar ac enim et posuere. Quisque sollicitudin faucibus 
                orci, a ultrices tortor. Nulla vulputate justo at metus ornare convallis.
                Praesent eleifend, libero eget ultrices auctor</h5>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, molestie 
                sit amet metus sit amet, malesuada gravida ex. In hac habitasse platea 
                dictumst. Aliquam iaculis feugiat ipsum, nec ultricies ipsum scelerisque 
                id Praesent lacinia tempor nisi, id rhoncus nisi scelerisque id. I
                nteger eu sem ipsum</p>	
          </div>
          <div class="col-sm-6 aboutUsBoxVertical">
              <img src="../img/gallery1.jpg" width="100%" height="100%" alt=""/>
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img1.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img2.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img4.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="wechat">
                <h4>淘车网是由marix 刘慕思二人合作开发的汽车租赁购买平台 网站最终解释权归二人所有</h4>
              <div class="wechatImg">
                  <img src="../img/marix.jpg" alt="marix个人微信" width="120px" height="120px">
                  <span>marix个人微信</span>
              </div>
              <div class="wechatImg">
                  <img src="../img/saoxin.jpg" alt="刘慕思个人微信" width="120px" height="120px">
                  <span>刘慕思个人微信</span>
              </div>
            </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
<!-- phoneInfoModal -->
<div class="modal fade" id="phoneInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2>淘车网热线</h2>
        </div>

        <div class="modal-body">
          <!-- 左图右字 -->
          <div style="text-align:center; font-weight:bold;"><h4>欢迎致电淘车网！</h4></div>
          <div class="phoneInfoContainer">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>管理员</td>
                  <th>联系电话</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>马瑞思</td>
                  <td>18216215139</td>
                </tr>
                <tr>
                  <td>骚信</td>
                  <td>18229909690</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
            确认
          </button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

      <script src="../js/homePageMerchant.js"></script>
</body>
</html>