<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/merchant.css">
    <script src="../js/homePage.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/highcharts.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>second head rose-商家</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                      <div class="col-md-12">
                          <h1 style="color: aliceblue; ">租车网</h1>
                      </div>
                    </div>
    
                    <div class="col-md-5"></div>
    
                    <div class="col-md-4">
                      <div class="leader">
                          <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                            <div class="navbar-header">
                              <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                            </div>
                            <div>
                              <ul class="nav navbar-nav">
                                <li ><a href="homePageFirstPage.html">租车首页</a></li>
                                <li><a href="homePageCarInformation.html">最新资讯</a></li>
                                <li  class="active"><a href="homePageMerchant.html">商家中心</a></li>
                                <li><a href="personalCenter.html">个人中心</a></li>
                              </ul>
                            </div>
                            </div>
                          </nav>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>
    </div>
    <div style="width:100%; height:15px; background-color: #E6E6E6;"></div>
    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>
            <div class="col-md-8">
                <!-- <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="homePageFirstPage.html" target="_self">首页</a></li>
                    <li role="presentation"><a href="homePageCarInformation.html" target="_self">资讯</a></li>
                    <li role="presentation" class="active"><a href="#" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                  </ul> -->
            </div>
            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>

      <div class="MerchantContainer row container-fluid">
        <!-- 左边文本框 淡蓝色 文字描述 右边跑车-->
        <div class="col-sm-12">
          <div class="MerchantText col-md-6">
            <br><br><br><br><br><br><br>
              <p>Blanditiis praesentium voluptatum </p>
              <h3>voluptatum deleniti atque</h3>
              <h1>Dragster</h1>
              <p>deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
              
          </div>
          <div class="MerchantImg col-md-6">
              <img src="../img/slider2.jpg" alt="" height="500px" width="100%">
          </div>
        </div>
        <!-- 关于我们 -->
        <div class="aboutUs col-sm-12">
          <h1>关于我们</h1>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="col-sm-6 aboutUsBoxVertical">
              <h3>The best one to the race</h3>
              <h5>Aenean pulvinar ac enim et posuere. Quisque sollicitudin faucibus 
                orci, a ultrices tortor. Nulla vulputate justo at metus ornare convallis.
                Praesent eleifend, libero eget ultrices auctor</h5>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, molestie 
                sit amet metus sit amet, malesuada gravida ex. In hac habitasse platea 
                dictumst. Aliquam iaculis feugiat ipsum, nec ultricies ipsum scelerisque 
                id Praesent lacinia tempor nisi, id rhoncus nisi scelerisque id. I
                nteger eu sem ipsum</p>	
          </div>
          <div class="col-sm-6 aboutUsBoxVertical">
              <img src="../img/gallery1.jpg" width="100%" height="100%" alt=""/>
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img1.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img2.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img4.jpg" width="100%" alt="">
            <h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, 
                libero eget ultrices auctor</h4>
              <p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, 
                molestie sit amet metussit amet, malesuada gravida ex. In hac habita
                sse platea dictumst. Aliquam iaculis feugiat </p>	
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div style="width:100%; height:15px; background-color: #232323;"></div>
    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-12 webGS" style="height:100px;background-color: #000000;">
        <h4 style="line-height: 50px;color:aliceblue;">本网站最终解释权归 liuxin 所有</h4>
        </div>
      </div>
    </div>
<!-- phoneInfoModal -->

      <script src="../js/homePageMerchant.js"></script>
</body>
</html>