<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/jigsaw.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jigsaw.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>second head rose-首页</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headTop">
          <!-- 37px高度 100%宽度 包含 图标+淘车网首页  欢迎来到淘车网 登录 我的淘车 （阉割部分功能） 联系电话 -->
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-2"></div>
              <div class="col-md-8">

                  <div class="row">
                      <div class="col-md-2">
                          <p class="headp goleft">
                            <button type="button" class="btn btn-link">
                                <a href="#" class="a-css"><span class="glyphicon glyphicon-home"></span>淘车网首页</a>
                            </button>
                          </p>
                      </div>

                      <div class="col-md-6"></div>

                      <div class="col-md-2">
                          <p class="headp goright">
                            <!-- <a href="#" class="a-css">登录</a> -->
                            <button type="button" class="btn btn-link">
                                 <a href="loginOrRegist.html" class="a-css">登录/注册</a> 
                            </button>
                          </p>
                      </div>
                      <div class="col-md-1">
                          <button type="button" class="btn btn-link">
                          <p class="headp goright"><a href="personalCenter.html" target="_blank"class="a-css">我的淘车</a></p>
                          </button>
                      </div>
                    

                      <div class="col-md-1">
                          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#phoneInfoModal">
                          <p class="headp goright">联系电话</p>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="col-md-2"></div>

            </div>
          </div>
        </div>

        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                      <a href="#" class="a-css"><h1>淘车网 taoche.com</h1></a>
                    </div>
    
                    <div class="col-md-1"></div>
    
                    <div class="col-md-8 searchbar">
                        <div class="input-group">
                            <input type="text" class="form-control info-searchBar" placeholder="搜 帕加尼风之子 试试">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-searchBar" type="button">
                                搜索
                              </button>

                              <!-- <button type="button" class="btn btn-default">卖车</button> -->
                            </span>
                        </div><!-- /input-group -->                  
                    </div>
                  </div>
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>
    </div>

    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>

            <div class="col-md-8">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"  class="active"><a href="#" target="_self">首页</a></li>
                    <li role="presentation"><a href="homePageSellcar.html" target="_self">卖车</a></li>
                    <li role="presentation"><a href="homePageMerchant.html" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                </ul>
            </div>

            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>
        <div class="rollBar">
          <!-- 滚动栏 高度320px 宽度col-md-8 -->
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              
                <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>   
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../img/car1.jpg" alt="First slide">
                      </div>
                      <div class="item">
                        <img src="../img/car2.jpg" alt="Second slide">
                      </div>
                      <div class="item">
                        <img src="../img/car3.jpg" alt="Third slide">
                      </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div> 

            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="buyAndSell">
          <!-- 买卖 8 4 -->
            <div class="row">
              <div class="col-md-2"></div>

              <div class="col-md-8">
                <div class="row">
                    <div class="buyer col-md-8">
                        <div class="buytitle">
                            <h2><span>我要买车</span><small><span class="glyphicon glyphicon-chevron-right"></span></small></h2> 
                        </div>
                        <div class="typeContainer">
                            <ul>
                                <li>
                                  <!-- 品牌图片区 -->
                                  <a href="#" name="carBrand=Benz">
                                    <div class="typeImg"><img src="../img/奔驰车标.jpg" alt="" width="50px" height="50px"><span>奔驰</span></div>
                                  </a>
                                  <a href="#" name="carBrand=buick">
                                    <div class="typeImg"><img src="../img/BIEKE.jpg" alt="" width="50px" height="50px"><span>别克</span></div>
                                  </a>
                                  <a href="#" name="carBrand=BMW">
                                    <div class="typeImg"><img src="../img/BMW.jpg" alt="" width="50px" height="50px"><span>宝马</span></div> 
                                  </a>
                                  <a href="#" name="carBrand=Ford">
                                    <div class="typeImg"><img src="../img/福特车标.jpg" alt="" width="50px" height="50px"><span>福特</span></div>
                                  </a>
                                  <a href="#" name="carBrand=Porsche">
                                    <div class="typeImg"><img src="../img/保时捷车标.jpg" alt="" width="50px" height="50px"><span>保时捷</span></div> 
                                  </a>
                                  <a href="#" name="carBrand=Lamborghini">
                                    <div class="typeImg"><img src="../img/兰博基尼车标.jpg" alt="" width="50px" height="50px"><span>兰博基尼</span></div> 
                                  </a>
                                  <a href="#" name="carBrand=Lotus">
                                    <div class="typeImg"><img src="../img/莲花车标.jpg" alt="" width="50px" height="50px"><span>莲花</span></div> 
                                  </a>
                                  <a href="#" name="">
                                    <div class="typeImg"><img src="../img/viewAll.png" alt="" width="50px" height="50px"><span>查看全部</span></div>
                                  </a>
                                </li>
                                <li>
                                  <!-- 价格区 -->
                                  <div class="typeImg">
                                    <a href="#" name="minRent=300" class="a-css">三万以下</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=300&maxRent=500" class="a-css">3-5万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=500&maxRent=800" class="a-css">5-8万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=800&maxRent=1000" class="a-css">8-10万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=1000&maxRent=1500" class="a-css">10-15万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=1500&maxRent=3000" class="a-css">15-30万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=3000&maxRent=6000" class="a-css">30-60万</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="minRent=6000&maxRent=12000" class="a-css">60-120万</a>
                                  </div>
                                </li>
                                <li>
                                  <!-- 车型区 -->
                                  <div class="typeImg">
                                    <a href="#" name="carType=SSC" class="a-css">SSC</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=WRC" class="a-css">WRC</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=SUV" class="a-css">SUV</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=WCC" class="a-css">WCC</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=VV" class="a-css">VV</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=MPV" class="a-css">MPV</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=GT" class="a-css">GT</a>
                                  </div>
                                  <div class="typeImg">
                                    <a href="#" name="carType=UFO" class="a-css">太空飞船</a>
                                  </div>
                                </li>
                              </ul>
                        </div>
                        
                    </div>
          
                      <div class="seller col-md-4">
                          <div class="buytitle">
                              <h2><span>我要卖车</span><small><span class="glyphicon glyphicon-chevron-right"></span></small></h2> 
                          </div>
                          <div class="input-group btn-group-lg btn-buyer-container">
                            <input type="text" class="form-control btn-buyer-input" placeholder="该功能暂未开放" disabled>
                            <button type="button" class="btn btn-default btn-buyer" disabled>我要卖车</button>
                            <button type="button" class="btn btn-default btn-buyer" disabled>免费评估</button>
                        </div><!-- /input-group -->          
                      </div>
                </div>
              </div>

              <div class="col-md-2"></div>
            </div>
        </div>
        
        <div class="viewAll">
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8 ViewAllRendering">
                <div class="typeTitle col-md-12">
                    <h3>淘车直营</h3>
                  </div>
              <ul class="taochezhiyin">
               
              </ul>

              <div class="typeTitle  col-md-12">
                  <h3>火热销售</h3>
              </div>
              <ul class="huorexiaoshou">
               
              </ul>

              <div class="typeTitle  col-md-12">
                  <h3>猜你喜欢</h3>
              </div>
              <ul class="cainixihuan">
               
              </ul>

              <div class="typeTitle col-md-12">
                  <h3>与众不同</h3>
              </div>
              <ul class="yuzhongbutong">
               
              </ul>

              <div class="typeTitle col-md-12">
                <h3>最新上架</h3>
              </div>
              <ul class="zuixinshangjia">
              
              </ul>
              
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

    </div>

    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="wechat">
                <h4>淘车网是由marix 刘慕思二人合作开发的汽车租赁购买平台 网站最终解释权归二人所有</h4>
              <div class="wechatImg">
                  <img src="../img/marix.jpg" alt="marix个人微信" width="120px" height="120px">
                  <span>marix个人微信</span>
              </div>
              <div class="wechatImg">
                  <img src="../img/saoxin.jpg" alt="刘慕思个人微信" width="120px" height="120px">
                  <span>刘慕思个人微信</span>
              </div>
            </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

<!-- modal  -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                登录
              </h4>
            </div>

            <div class="modal-body">
              <!-- 注册链接 -->
              <!-- <div class="regist-container pull-right">
                    <p>
                      <button type="button" class="btn btn-link">
                          <a href="#" class="a-css">没有账号？现在就注册一个</a>
                      </button>
                    </p>
              </div> -->

              <!-- 引用jigsaw.js -->
                <div class="modal-container" style="width:310px;margin:100px auto;">
                  <form class="modal-login">
                      <h3>用户登录</h3>
                    <div class="input-group">
                      <input type="text" placeholder="用户名/账号" class="form-control modal-login userLogin-username" style="margin:5px auto;"/>
                      <input type="password" placeholder="密码" class="form-control modal-login userLogin-userpwd" style="margin:10px auto;"/>
                    </div>
                    <div id="captcha" style="position: relative"></div>
                    <div id="msg"></div>
                  </form>
                </div>

                <script>
                  jigsaw.init(document.getElementById('captcha'), function () {
                    document.getElementById('msg').innerHTML = '登录成功！'
                  })
                </script>
                <!-- 引用结束 -->
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
                确认
              </button>
              
              <button type="button" class="btn btn-default btn-userRegist">
                  <a href="regist.html" target="_blank" style="text-decoration:none;">没有账号？现在就注册一个</a>
              </button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>

<!-- phoneInfoModal -->
    <div class="modal fade" id="phoneInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2>淘车网热线</h2>
          </div>

          <div class="modal-body">
            <!-- 左图右字 -->
            <div style="text-align:center; font-weight:bold;"><h4>欢迎致电淘车网！</h4></div>
            <div class="phoneInfoContainer">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>管理员</td>
                    <th>联系电话</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>马瑞思</td>
                    <td>18216215139</td>
                  </tr>
                  <tr>
                    <td>骚信</td>
                    <td>18229909690</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
              确认
            </button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

      <script src="../js/homePageFirstPage.js"></script>      
</body>
</html>