<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="../img/touxiang.jpg" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/merchant.css">
    <script src="../js/homePage.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/highcharts.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>商家</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>


              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="col-md-12">
                              <h1 style="color: aliceblue; ">租车网 <small> “租”不出户，畅行一路</small></h1>

                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="leader">
                              <nav class="navbar navbar-default" role="navigation">
                                  <div class="container-fluid">
                                      <div class="navbar-header">
                                          <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                                      </div>
                                      <div>
                                          <ul class="nav navbar-nav">
                                              <li ><a href="homePageFirstPage.html">租车首页</a></li>
                                              <li ><a href="homePageCarInformation.html">最新资讯</a></li>
                                              <li class="active"><a href="homePageMerchant.html">商家中心</a></li>
                                              <li><a href="personalCenter.html">个人中心</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-2"><div class="pull-right"><span class="glyphicon glyphicon-log-out" style="color: rgb(255, 255, 255);font-size: 25px; position: relative;top:-25px;right: 5px "></span></div></div>
          </div>
        </div>
    </div>
    <div style="width:100%; height:15px; background-color: #E6E6E6;"></div>
    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>
            <div class="col-md-8">
                <!-- <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="homePageFirstPage.html" target="_self">首页</a></li>
                    <li role="presentation"><a href="homePageCarInformation.html" target="_self">资讯</a></li>
                    <li role="presentation" class="active"><a href="#" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                  </ul> -->
            </div>
            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>

      <div class="MerchantContainer row container-fluid">
        <!-- 左边文本框 淡蓝色 文字描述 右边跑车-->
        <div class="col-sm-12">
          <div class="MerchantText col-md-6">
            <br><br><br><br><br><br><br>
              <p>这就是我们</p>
              <h3>“租”不出户，畅行一路</h3>
              <h1>租车网</h1>
              <p>我们的服务宗旨：“客户第一、服务第一、安全第一、信誉第一”。</p>
              
          </div>
          <div class="MerchantImg col-md-6">
              <img src="../img/slider2.jpg" alt="" height="500px" width="100%">
          </div>
        </div>
        <!-- 关于我们 -->
        <div class="aboutUs col-sm-12">
          <h1>关于我们</h1>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="col-sm-6 aboutUsBoxVertical">
              <h3>我们是一家新型的汽车租赁公司</h3>
              <h5>
                  我们的服务宗旨：“客户第一、服务第一、安全第一、信誉第一”。
                 </h5>
              <p>租车网是一家经国家工商部门批准并登记注册，有正规资质证书的专业汽车租赁公司。
                  我公司的服务范围覆盖全国，主要服务于婚车租赁，商务用车，旅游包车，机场接送，专业带驾，会展会务等租车。
                  租车网提供长沙租车，全国租车，长沙商务租车，长沙婚庆租车，长沙到全国租车，代驾。
                  我们拥有一个专业化，高度敬业的团队，竭力为您提供热情、周到、安全、舒适的优质服务，
                  希望通过租车能够成为建立我们长期友谊的桥梁。经过不断努力和创新，我们已成为能够为用户提供全面、
                  专业、快捷服务的汽车租赁服务提供商，是一个不断创新，能够适应瞬息万变的市场环境，具有强大的实力和发展潜力的企业。</p>
          </div>
          <div class="col-sm-6 aboutUsBoxVertical">
              <img src="../img/gallery1.jpg" width="100%" height="100%" alt=""/>
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img1.jpg" width="100%" alt="">
            <!--<h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, -->
                <!--libero eget ultrices auctor</h4>-->
              <!--<p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, -->
                <!--molestie sit amet metussit amet, malesuada gravida ex. In hac habita-->
                <!--sse platea dictumst. Aliquam iaculis feugiat </p>	-->
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img2.jpg" width="100%" alt="">
            <!--<h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, -->
                <!--libero eget ultrices auctor</h4>-->
              <!--<p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, -->
                <!--molestie sit amet metussit amet, malesuada gravida ex. In hac habita-->
                <!--sse platea dictumst. Aliquam iaculis feugiat </p>	-->
          </div>
          <div class="col-sm-4 aboutUsBoxAcross">
            <img src="../img/img4.jpg" width="100%" alt="">
            <!--<h4>Aenean pulvinar ac enim et posuere. Praesent eleifend, -->
                <!--libero eget ultrices auctor</h4>-->
              <!--<p>In sit amet sapien eros. Integer in tincidunt velit. Ut sapien est, -->
                <!--molestie sit amet metussit amet, malesuada gravida ex. In hac habita-->
                <!--sse platea dictumst. Aliquam iaculis feugiat </p>	-->
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div style="width:100%; height:15px; background-color: #232323;"></div>
    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-12 webGS" style="height:100px;background-color: #000000;">
        <h4 style="line-height: 50px;color:aliceblue;">本网站最终解释权归 liuxin 所有</h4>
        </div>
      </div>
    </div>
<!-- phoneInfoModal -->
    <script>
    $(".glyphicon-log-out").click(function(){
      $.ajax({
        contentType:'application/json;charset=utf-8',
          url: "/user/logout",
          type:"GET",  
          // dataType: "json", 
          // data:JSON.stringify(searchCar),
          success:function(data){
            console.log("loginOut:"+data);
            window.location.reload();
          }
      });
    });
    </script>
      <script src="../js/homePageMerchant.js"></script>
</body>
</html>