<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/jigsaw.css">
    <link rel="stylesheet" href="../css/sellCar.css">
    <script src="../js/homePage.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/jigsaw.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>second head rose-资讯</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headTop">
          <!-- 37px高度 100%宽度 包含 图标+淘车网首页  欢迎来到淘车网 登录 我的淘车 （阉割部分功能） 联系电话 -->
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-2"></div>
              <div class="col-md-8">

                  <div class="row">
                      <div class="col-md-2">
                          <p class="headp goleft">
                            <button type="button" class="btn btn-link">
                                <a href="homePageFirstPage.html" target="_self" class="a-css"><span class="glyphicon glyphicon-home"></span>淘车网首页</a>
                            </button>
                          </p>
                      </div>

                      <div class="col-md-6"></div>

                      <div class="col-md-2">
                          <p class="headp goright">
                            <button type="button" class="btn btn-link">
                              <a href="loginOrRegist.html" class="a-css">登录/注册</a> 
                           </button>
                          </p>
                      </div>
                      <div class="col-md-1">
                          <button type="button" class="btn btn-link">
                          <p class="headp goright"><a href="personalCenter.html" target="_blank"class="a-css">我的淘车</a></p>
                          </button>
                      </div>
                    

                      <div class="col-md-1">
                          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#phoneInfoModal">
                          <p class="headp goright">联系电话</p>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="col-md-2"></div>

            </div>
          </div>
        </div>

        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                      <a href="#" class="a-css"><h1>淘车网 taoche.com</h1></a>
                    </div>
    
                    <div class="col-md-1"></div>
    
                    <div class="col-md-8 searchbar">
                        <!-- <div class="input-group">
                            <input type="text" class="form-control info-searchBar" placeholder="搜 帕加尼风之子 试试">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-searchBar" type="button">
                                搜索
                              </button>

                              <button type="button" class="btn btn-default">卖车</button>
                            </span>
                        </div> -->
                    </div>
                  </div>
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>
    </div>

    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>

            <div class="col-md-8">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="homePageFirstpage.html" target="_self">首页</a></li>
                    <li role="presentation" class="active"><a href="#" target="_self">资讯</a></li>
                    <li role="presentation"><a href="homePageMerchant.html" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                    <!-- <li role="presentation"><a href="second-rose-Substitution.html" target="_self">置换</a></li> -->
                  </ul>
            </div>

            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>

      <div class="sellCarMainContainer container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="sellService">
                <!-- 服务描述 -->
                <div class="row">
                  <div class="col-md-4 infoTop">
                    <img src="../img/newzm-01.png" alt="">
                    <p>免费上门评估</p>
                    <p>专业评估师给您精准价格</p>
                  </div>
                  <div class="col-md-4 infoTop">
                    <img src="../img/newzm-02.png" alt="">
                    <p>快速卖车价格高</p>
                    <p>最快当日即可成交</p>
                  </div>
                  <div class="col-md-4 infoTop">
                    <img src="../img/newzm-03.png" alt="">
                    <p>全程一对一服务</p>
                    <p>卖车过户全程免费服务</p>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="col-md-6">
                    <span>服务全免费</span>
                    <p>仅需坐等上门</p>
                    <p>专业评估师免费上门检测</p>
                    <p>过户手续淘车免费代办</p>
                  </div>
                  <div class="col-md-6">
                    <img src="../img/carService1.png" alt="">
                  </div>
                </div>
                
                <div class="container-fluid">
                  <div class="col-md-6">
                    <img src="../img/carService2.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <span>售价高 比价准</span>
                    <p>全国海量买家竞价  谁高卖谁</p>
                    <p>线上线下联合售卖  即时看车即时交易</p>
                  </div>
                </div>

                <div class="row container-fluid flow">
                  <div class="col-md-12">
                      <img src="../img/sellCarFlow.png" width="100%" alt="">
                  </div>
                </div>
              </div>

              <!-- uploadCarIframe -->
              <div>
                  <iframe src="MgrCenterS/upLoadCar.html" frameborder="0" name="detail" scrolling="false" style="width:100%;height: 800px;"></iframe>
              </div>
        </div>
        <div class="col-md-2"></div>
      </div>
</body>
</html>