<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="../img/touxiang.jpg" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/jigsaw.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jigsaw.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>second head rose-首页</title>
</head>
<body>
    <div class="SRose-head">
        <div class="headBody">
          <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h1 style="color: aliceblue; ">租车网 <small> “租”不出户，畅行一路</small></h1>
                            
                        </div>
                      </div>
    
                    <!-- <div class="col-md-5"></div> -->
    
                    <div class="col-md-4">
                      <div class="leader">
                          <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                            <div class="navbar-header">
                              <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                            </div>
                            <div>
                              <ul class="nav navbar-nav">
                                <li class="active"><a href="homePageFirstPage.html">租车首页</a></li>
                                <li ><a href="homePageCarInformation.html">最新资讯</a></li>
                                <li><a href="homePageMerchant.html">商家中心</a></li>
                                <li><a href="personalCenter.html">个人中心</a></li>
                              </ul>
                            </div>
                            </div>
                          </nav>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-2"><div class="pull-right"><span class="glyphicon glyphicon-log-out" style="color: rgb(255, 255, 255);font-size: 25px; position: relative;top:-25px;right: 5px "></span></div></div>
          </div>
        </div>
    </div>
    <div style="width:100%; height:15px; background-color: #E6E6E6;"></div>
    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>

            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>
        <div class="rollBar">
          <!-- 滚动栏 高度320px 宽度col-md-8 -->
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              
                <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>   
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="../img/Carousel1.jpg" width="100%" alt="First slide">
                      </div>
                      <div class="item">
                        <img src="../img/Carousel2.jpg" width="100%" alt="Second slide">
                      </div>
                      <div class="item">
                        <img src="../img/Carousel3.jpg" width="100%" alt="Third slide">
                      </div>
                      <div class="item">
                        <img src="../img/Carousel4.jpg" width="100%" alt="Third slide">
                      </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div> 

            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="buyAndSell">
          
          <!-- 买卖 8 4 -->
            <div class="row">
              <div class="col-md-2"></div>

              <div class="col-md-8">
                <div class="row">
                    <div class="buyer col-md-8">
                    </div>

                </div>
              </div>

              <div class="col-md-2"></div>
            </div>
        </div>
        
        <div class="viewAll">
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8 ViewAllRendering">
                <div class="col-md-3">
                        <div class="searchBox col-md-12">
                          <h2 style="color: aliceblue; ">搜索</h2>
                            <div class="input-group searchinput">
                                <input type="text" class="form-control info-searchBar" placeholder="搜索 奔驰 试试">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-searchBar" type="button">Go!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <!-- 按栏目搜索 -->
                        <div class="searchBox2 col-md-12">
                            <h2 style="color: aliceblue; ">分类查询</h2>
                            <div class="btn col-md-12" role="button">
                                <!-- <a href="" class="btn btn-default btn-lg btn-block col-md-12" id="BYBK" role="button">本月爆款</a>
                                <a href="" class="btn btn-default btn-lg btn-block col-md-12" id="ZCJX" role="button">租车精选</a>
                                <a href="" class="btn btn-default btn-lg btn-block col-md-12" id="DJYG" role="button">独具一格</a>
                                <a href="" class="btn btn-default btn-lg btn-block col-md-12" id="MRHC" role="button">每日好车</a> -->
                                <button class="btn btn-default btn-lg btn-block col-md-12" id="BYBK">
                                  本月爆款
                                </button>
                                <button class="btn btn-default btn-lg btn-block col-md-12" id="ZCJX">
                                  猜你喜欢
                                </button>
                                <button class="btn btn-default btn-lg btn-block col-md-12" id="DJYG">
                                  与众不同
                                </button>
                                <button class="btn btn-default btn-lg btn-block col-md-12" id="MRHC">
                                  最新上架
                                </button>

                            </div>
                        </div>
                        
                </div>  
                <div class="sellItem col-md-9">
                    <div class="typeTitle taochezhiyin col-md-12">
                        <!-- <h3></h3> -->
                      </div>
                  <ul class="WDNMD" id="NQR">
                    <li>
                      <div class="carDetailContainer">
                          <!-- 头顶小标题 车子图标 车子简介 价钱 服务 -->
                          <div class="detailTitle"></div>
                          <div class="detailCarImg"><a href="carDetail.html?ID=7" class="a-css"><img src="../img/pic24.jpg" alt=""></a></div>
                          <div class="priceContainer">
                            <span class="totalPrice">￥</span>
                            <strong class="totalPrice">2000</strong>
                          </div>
                          <div class="detailDescribe"><a href="carDetail.html?ID=7" class="a-css">福特 </a></div>
                          <div class="serviceContainer" style="display:none;">
                          </div>
                        </div> 
                  </li>
                  </ul>

                </div>
                  
                </div>
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

    </div>
    <div style="width:100%; height:15px; background-color: #232323;"></div>
    <div class="SRose-foot">
      <!-- 页面介绍 二维码 版权信息 -->
      <div class="row">
        <div class="col-md-12 webGS" style="height:100px;background-color: #000000;">
        <h4 style="line-height: 50px;color:aliceblue;">本网站最终解释权归 liuxin 所有</h4>
        </div>
      </div>
    </div>

      <script>
        $(".glyphicon-log-out").click(function(){
          $.ajax({
            contentType:'application/json;charset=utf-8',
              url: "/user/logout",
              type:"GET",  
              // dataType: "json", 
              // data:JSON.stringify(searchCar),
              success:function(data){
                console.log("loginOut:"+data);
                window.location.reload();
              }
          });
        });
      </script>
      <script src="../js/homePageFirstPage.js"></script>      
</body>
</html>