<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="../img/touxiang.jpg" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/MgrCenter.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>管理员管理中心</title>
</head>
<body>
    <!-- 淘车head部分同 -->
    <div class="SRose-head">
      <div class="headBody">

        <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
        <div class="row">
          <div class="col-md-3">
              <p class="headp goleft">
                  <button type="button" class="btn btn-link">
                      <a href="homePageFirstPage.html" target="_self" class="a-css"><span class="glyphicon glyphicon-home"></span>租车网网首页</a>
                  </button>
              </p>
          </div>
          
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                        <h1 style="color: aliceblue; text-align: center">租车网管理中心</h1>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col-md-3">
            <div class="btn-group col-md-12 navigatior" role="button">
              <a href="MgrOrder.html" target="detail" class="btn btn-default" role="button">订单管理</a>
              <a href="MgrCar.html" target="detail" class="btn btn-default" role="button">汽车管理</a>
              <a href="MgrUser.html" target="detail" class="btn btn-default" role="button">用户管理</a>
              <a href="MgrData.html" target="detail" class="btn btn-default" role="button">数据中心</a>
          </div>
          </div>
        </div>
      </div>
  </div>
    <!-- 左右四八开 -->
    <div class="MgrBody container-fluid">
      <div class="row">
          <div class="col-md-2 MgrBodyLeft">
              <div class="PC-photo-container col-md-12" style="text-align:center">
                  <img src="../img/touxiang.jpg" width="150px" height="150px" class="img-thumbnail" alt="">
                   <div><h3 class="username">管理员</h3></div>
              </div>
              <!-- <div class="btn col-md-12 navigatior" role="button">
                  <a href="MgrOrder.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">订单管理</a>
                  <a href="MgrCar.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">汽车管理</a>
                  <a href="MgrUser.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">用户管理</a>
                  <a href="MgrData.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">淘车数据</a>
              </div> -->
              <div class="pageController col-md-12"></div>
          </div>
          <div class="col-md-10 MgrBodyRight">
            <iframe src="MgrOrder.html" frameborder="0" name="detail" scrolling="auto" style="width:100%;height: 800px;"></iframe>
          </div>
      </div>
    </div>
    <!-- foot部分同 -->
    <div class="Mgrfoot"></div>

    <!-- phoneInfoModal -->
    <div class="modal fade" id="phoneInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2>淘车网热线</h2>
          </div>

          <div class="modal-body">
            <!-- 左图右字 -->
            <div style="text-align:center; font-weight:bold;"><h4>欢迎致电淘车网！</h4></div>
            <div class="phoneInfoContainer">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>管理员</td>
                    <th>联系电话</td>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>骚信</td>
                    <td>18229909690</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-userlogin" data-dismiss="modal">
              确认
            </button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
</body>
</html>