<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/jigsaw.css">
    <link rel="stylesheet" href="../css/sellCar.css">
    <script src="../js/homePage.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/jigsaw.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
  <div class="SRose-head">
    <div class="headBody">
      <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
      <div class="row">
        <div class="col-md-2"></div>
        
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-12">
                        <h1 style="color: aliceblue; ">租车网 <small> 想租车，来租车网，给予你不一样的租车体验！</small></h1>
                        
                    </div>
                  </div>

                <!-- <div class="col-md-5"></div> -->

                <div class="col-md-4">
                  <div class="leader">
                      <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                        <div class="navbar-header">
                          <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                        </div>
                        <div>
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="homePageFirstPage.html">租车首页</a></li>
                            <li ><a href="homePageCarInformation.html">最新资讯</a></li>
                            <li><a href="homePageMerchant.html">商家中心</a></li>
                            <li><a href="personalCenter.html">个人中心</a></li>
                          </ul>
                        </div>
                        </div>
                      </nav>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-md-2"><div class="pull-right"><span class="glyphicon glyphicon-log-out" style="color: rgb(255, 255, 255);font-size: 25px; position: relative;top:-25px;right: 5px "></span></div></div>
      </div>
    </div>
</div>

    <div class="SRose-body">
        <div class="navigator">
          <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
          <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>

            <div class="col-md-8">
                <!-- <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a href="homePageFirstpage.html" target="_self">首页</a></li>
                    <li role="presentation" class="active"><a href="#" target="_self">资讯</a></li>
                    <li role="presentation"><a href="homePageMerchant.html" target="_self">商家中心</a></li>
                    <li role="presentation"><a href="personalCenter.html" target="_self">个人中心</a></li>
                  </ul> -->
            </div>

            <div class="col-md-2 nearNavigator"></div>
          </div>
        </div>
      </br>

      <div class="sellCarMainContainer container-fluid">
        <hr>
        <hr>
        <div class="col-md-4"></div>
        <div class="col-md-4 wtf">
            <div class="col-md-12">
              <div class="col-md-6">
                 <img src="../img/payfailed.jpg" width="80px" height="80px" alt="">
              </div>
              <div class="col-md-6">
                 <h2>支付失败</h2>
              </div>
            </div>
            <br>
            <br>
            <div>
              <a href="homePageFirstPage.html">返回首页</a> 
              <!-- <a href="personalCenter.html">去个人中心查看详情</a> -->
            </div>
         </div>
        <div class="col-md-4"></div>
      </div>
</body>
</html>