<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="../img/touxiang.jpg" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/personalData.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>personData</title>
</head>
<body>
    <div class="personalDataContainer">
            <form class="form-horizontal" role="form">
                <div class="form-group userdata">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input type="text" id="userName" class="form-control" name="" value="刘信" disabled>
                    </div>
                </div>
                <div class="form-group userdata">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-9">
                        <input type="text" id="userSex" class="form-control" value="男" disabled>
                    </div>
                </div>
                <div class="form-group userdata">
                    <label class="col-sm-2 control-label">电话号码</label>
                    <div class="col-sm-9">
                        <input type="text" id="userPhone" class="form-control" value="17673817175" disabled>
                    </div>
                </div>
                <div class="form-group userdata">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="text" id="userEmail" class="form-control" value="10086@china.com" disabled>
                    </div>
                </div>
                <div class="form-group userdata">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-sm-9">
                        <input type="text" id="userIdNum" class="form-control" value="430523199970916****" disabled>
                    </div>
                </div>
                <div class="form-group userdata">
                    <!-- 标签的添加准备用模态框 -->
                    <label class="col-sm-2 control-label">感兴趣</label>  
                    <div class="col-sm-9">
                        <input type="text" id="userLabel" class="form-control tag-like" value="SUV，奔驰" data-toggle="modal" data-target="#myModal" disabled>
                    </div>
                </div>
                <!-- 编辑按钮（按下后显示确定） 身份证照片上传 -->
                <div class="form-group userdata" style="display:none">
                    <label class="col-sm-2 control-label ">证件信息上传</label>
                    <div class="col-sm-9">
                            <p>点击身份证照片:
                                <button type="button" class="btn btn-default btn-sm fileUploadBtn">
                                    <span class="glyphicon glyphicon-plus"></span> Add
                                </button>
                            </p>
                         <input type="file" id="inputFile" class="form-control fileUploadInput" multiple="multiple" accept="image/png,image/jpg,image/gif,image/JPEG">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">证件图片</h3>
                                </div>
                                <div class="panel-body imgDiv">
                                    <img src="../img/BIEKE.jpg" alt="" width="120px" height="90px;">
                                    <img src="../img/BIEKE.jpg" alt="" width="120px" height="90px;">
                                </div>
                            </div>
                    </div>
                </div>
                <!-- 编辑按钮 -->
                <div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                            <button class="btn  eidtAndSub pull-right" type="button">编辑</button>
                    </div>
                        
                </div>
            </form>
    </div>
    <!-- modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                感兴趣
              </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                            <button type="button" name="奔驰" class="btn btn-default col-sm-12">奔驰</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="宝马" class="btn btn-default col-sm-12">宝马</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="福特" class="btn btn-default col-sm-12">福特</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="轿车" class="btn btn-default col-sm-12">轿车</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="SUV" class="btn btn-default col-sm-12">SUV</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="跑车" class="btn btn-default col-sm-12">跑车</button>
                    </div>
                    <div class="col-sm-4">
                            <button type="button" name="黑色" class="btn btn-default col-sm-12">黑色</button>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" name="白色" class="btn btn-default col-sm-12">白色</button>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" name="红色" class="btn btn-default col-sm-12">红色</button>
                    </div>
                </div>
             
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                确认
              </button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div> 
    <div>
       <script src="../js/personalData.js"></script>
    </div>
</body>

</html>