<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/personalCenter.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>personalCenter-个人中心</title>
</head>
<body>
        <div class="SRose-head">
                <div class="headBody">
                  <!-- 125px高度 宽度 col-md-8 居中 包含logo 搜索框 按钮 -->
                  <div class="row">
                    <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <h1 style="color: aliceblue; ">租车网 <small> 想租车，来租车网，给予你不一样的租车体验！</small></h1>
                                </div>
                              </div>
            
                            <!-- <div class="col-md-5"></div> -->
            
                            <div class="col-md-4">
                              <div class="leader">
                                  <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                    <div class="navbar-header">
                                      <!-- <a class="navbar-brand" class="active" href="homePageFirstPage.html">租车网</a> -->
                                    </div>
                                    <div>
                                      <ul class="nav navbar-nav">
                                        <li ><a href="homePageFirstPage.html">租车首页</a></li>
                                        <li ><a href="homePageCarInformation.html">最新资讯</a></li>
                                        <li><a href="homePageMerchant.html">商家中心</a></li>
                                        <li class="active"><a href="personalCenter.html">个人中心</a></li>
                                      </ul>
                                    </div>
                                    </div>
                                  </nav>
                              </div>
                            </div>
                          </div>
                    </div>
        
                    <div class="col-md-2"></div>
                  </div>
                </div>
            </div>
            <!-- <div style="width:100%; height:15px; background-color: #E6E6E6;"></div> -->

        <!-- 导航栏 高度37px 100%宽度  包含项 首页 买车 卖车 评估 置换-->
        <div class="row navigator">
            <div class="col-md-2 nearNavigator"></div>

            <div class="col-md-8">
                <!-- <ul class="nav nav-tabs nav-justified">
                        <li role="presentation"><a href="homePageFirstPage.html" target="_self">首页</a></li>
                        <li role="presentation"><a href="homePageCarInformation.html" target="_self">资讯</a></li>
                        <li role="presentation"><a href="homePageMerchant.html" target="_self">商家中心</a></li>
                        <li role="presentation" class="active"  ><a href="#" target="_self">个人中心</a></li>
                </ul> -->
            </div>

            <div class="col-md-2 nearNavigator"></div>
        </div>

        <!-- 个人中心展示 -->
        <div class="PCContainer">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 PCmenu">
                          <div class="PC-photo-container col-md-12">
                              <img src="../img/marix.png" width="150px" height="150px" class="img-thumbnail" alt="">
                               <div><h3 class="username">18216215139</h3></div>
                          </div>
                          <div class="btn col-md-12" role="button">
                              <a href="/personalData.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">个人资料</a>
                              <a href="/personalOrder.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">个人订单</a>
                              <a href="/changePwd.html" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">更改密码</a>
                              <!-- <a href="https://www.baidu.com/" target="detail" class="btn btn-default btn-lg btn-block col-md-12" role="button">有问题请点我</a> -->
                          </div>
                    </div>

                    <div class="PCiframe col-md-9">
                        <iframe src="personalData.html" frameborder="0" name="detail" scrolling="no" style="width:100%;height: 600px;"></iframe>
                    </div>
                </div>
                
                <div class="col-md-2"></div>
            </div>
        </div>
      
        <!-- <div style="width:100%; height:15px; background-color: #232323; margin-top: 90px;"></div> -->
        <div class="SRose-foot">
          <!-- 页面介绍 二维码 版权信息 -->
          <div class="row">
            <div class="col-md-12 webGS" style="height:180px;background-color: #000000;">
            <h4 style="line-height: 90px;color:aliceblue;">本网站最终解释权归 liuxin 所有</h4>
            </div>
          </div>
        </div>

</body>
</html>